section{
    margin: 2rem;
}
h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3{
    margin: 2rem;
}
p{

    padding: 0.2rem;
}
li{
    margin-left: 2rem;
}
#section_semester_1{
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 4rem;
        width: 100%;
        padding: 1.5rem;
}
div{
    border: 0.2rem solid #2E2E2E;
    border-radius: 1rem;
    margin: 1rem;
    max-width: 30rem;
    padding: 1.5rem;
}
.spanBeschrijving{

}
.hr{
    border: 0.2rem solid #2E2E2E;
    border-radius: 1rem;
    margin: 1rem;
}
