*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: #232323;
}
header{
    background: #1B1B1B;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
header h1{
    font-size: 4rem;
}
nav{
    background: #2E2E2E;
    height: 2.8rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
}